<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Predictor.Properties.Settings.FinancialDataConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\FinancialData.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FinanceAI.Properties.Settings.FinancialDataConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\FinancialData.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FinanceAI.Properties.Settings.FinancialDataConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Yang\code\FinanceAI\DB\FinancialData.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FinanceAI.Properties.Settings.FinancialData___CopyConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\adam\Documents\CODE\googlefinance\GoogleFinanceDemo\Predictor\FinancialData - Copy.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>